@using Thrifty.Models
@model IEnumerable<OrderDetails>

@{
    ViewData["navTitel"] = "All orders details";
    ViewData["navActive"] = "CashOrders";
    ViewData["Title"] = "Orders details";
    Layout = "~/Views/Shared/_dashbord.cshtml";
}



<link href="~/css/jqdatatable/jquery.datatables.min.css" rel="stylesheet" />

<div class="content">
    <div class="container-fluid">
        <hr>
        <div cite="row">
            <table id="OrdersDetails">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Item.name)
                        </th>
                        <td>
                            @Html.DisplayNameFor(model => model.Item.size)
                        </td>
                        <th>
                            @Html.DisplayNameFor(model => model.Item.ItemType.name)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => order.OrderNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => order.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => order.Item.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => order.Item.size)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => order.Item.ItemType.name)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="ml-3">
    <a asp-action="Index" class="btn btn-light">Back to List</a>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            $('#OrdersDetails').dataTable({
            });
        });
    </script>
}



@*<h1>Details</h1>

<div>
    <h4>OrderDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderNumber)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
